<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<mappers>
		
		<mapper resource="com/simplegame/server/bus/account/entity/mapper/UserAccount.xml"/>
		<mapper resource="com/simplegame/server/bus/account/entity/mapper/RoleAccount.xml"/>
		<mapper resource="com/simplegame/server/bus/role/entity/mapper/UserRole.xml"/>
		<mapper resource="com/simplegame/server/bus/bag/entity/mapper/RoleBagSlot.xml"/>
		
		<mapper resource="com/simplegame/server/stage/entity/mapper/RoleStage.xml"/>
		
		
		<mapper resource="com/simplegame/server/bus/server/entity/mapper/ServerInfo.xml"/>
		<mapper resource="com/simplegame/server/bus/id/entity/mapper/IdGen.xml"/>
	
	</mappers>
	
</configuration>